*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    text-align: center;
    background-color: white;
    color: green;
    padding: 10px;
    width: 660px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: relative;
}
fieldset{
    border: none;
}
h1{
    font-weight: bolder;
    background-color: gold;
    border: 2px solid green;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: green;
    margin-bottom: 10px;
    color: black;
}
h1:hover{
    font-weight: bolder;
    background-color: gold;
    border: 4px solid green;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: green;
    margin-bottom: 10px;
    color: crimson;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.Games a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    
}
.Games a:hover{
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 5px 10px;
    border-radius: 10px; 
    font-weight: bolder;
}
.Games{
    margin-bottom: 5px;
}
[type]{
    width: 100%;
    border: 2px solid green;
}
[type]:hover{
    width: 100%;
    border: 2px solid crimson;
}
[name]{
    width: 180px;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 10px;
}
[name]:hover{
    width: 180px;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
    font-weight: bolder;
    border: 4px solid green;
    color: crimson;
    margin-bottom: 10px;
}
[value]{
    background-color: greenyellow;

}
[for="select games"]{
    font-size: 12px;
    padding: 3px 4px;
    border: 2px solid green;
    background-color: yellow;
    border-radius: 10px;
    font-weight: bold;
}
[for="select games"]:hover{
    font-size: 12px;
    padding: 3px 4px;
    border: 2px solid crimson;
    background-color: yellow;
    border-radius: 10px;
    font-weight: bold;
}
[src="gaming image.jpg"]{
    width: 480px;
    height: 200px;
    border: 2px solid green;
    border-radius: 10px;
    outline: 3px solid yellow;
}
[src="gaming image.jpg"]:hover{
    width: 480px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid crimson;
} 
.game-login{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 3px 25px;
    border: 2px solid ;
    border-radius: 10px;
}
.game-login:hover{
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 3px 25px;
    border: 2px solid crimson;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
#Best{
    overflow: hidden;
}
[src="Good of war.jpg"]{
    width: 300px;
    height: 200px;
    border: 2px solid green;
    border-radius: 10px;
    outline: 3px solid yellow;
}
[src="palworld.jpg"]{
    width: 300px;
    height: 200px;
    border: 2px solid green;
    border-radius: 10px;
    outline: 3px solid yellow;
}
[src="resident evil village.jpg"]{
    width: 300px;
    height: 200px;
    border: 2px solid green;
    border-radius: 10px;
    outline: 3px solid yellow;
}
[href="Login.html"]{
    background-color: white;
    border: 3px solid green;
    border-radius: 360px;
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
}
[href="Login.html"]:hover{
    background-color: white;
    border: 5px solid green;
    border-radius: 360px;
    color: red;
    position: absolute;
    top: 17px;
    right: 20px;
}
input:focus{
    outline: none;
}
/* #Forgot{
    background-color: green;
    color: white;
    padding: 3px 25px;
    border: 2px solid;
    border-radius: 10px;
}
#Forgot:hover{
    background-color: green;
    padding: 3px 25px;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: bold;

} */
#palworld{
    width: 300px;
    height: 340px; 
}
[src="God_of_War_Ragnarok_Official_Story_Trailer___State_of_Play_September_2022.MP4"],
[src="Palworld_Official_Early_Access_Gameplay_Launch_Trailer.MP4"],
[]{
    width: 640px;
    height: 350px;
    border: 2px solid green;
    border-radius: 10px;
    outline: 3px solid yellow;
}
    
